{% extends "template.twig" %}
{% block section %}admin{% endblock %}
{% block page %}events{% endblock %}
{% block title %}Press Admin{% endblock %}
{% block page_tagline %}Tell the world!{% endblock %}
{% block content %}
    <h3>All Press Releases</h3>
    <ul>
        {% for release in releases %}
            <li><a href="/admin/press-releases/{{ release.id }}/edit">{{ release.title }}</a></li>
        {% endfor %}
        <li><a href="/admin/press-releases/new">(new)</a></li>
    </ul>
{% endblock %}