body.home.index
    & > .wrap
        .map
            @include span-columns(6)
            @include shift(3)
            display: block
            min-height: 2.1rem
            margin-top: -2rem

            @include media($media-mobile)
                @include span-columns(4)
                @include omega
                @include shift(0)
                margin-top: 2rem
            .land
                fill: none
                stroke: $color-gray-light

            .state-boundary
                fill: none
                stroke: transparentize($color-gray-light, 0.7)

            .city
                fill: $color-black

            .footprint
                fill: transparentize($color-black, 0.95)

            .outline
                fill: transparentize($color-black, 0.95)



        & > section.content
            section.impact,
            section.codeday
                @include span-columns(12)
                header
                    margin-bottom: 4rem
                    h2
                        margin:
                            top: 0
                            bottom: 0
                        font:
                            family: $font-family-header
                            size: 2.5rem
                            weight: 200
                        text-align: center

                    p
                        margin-top: 0
                        color: $color-black
                        font:
                            family: $font-family-header
                            size: 1rem
                        text-align: center

            section.impact
                padding: 2rem 0
                .video
                    +span-columns(6)
                    @include media($media-mobile)
                        +span-columns(4)
                        +omega
                .details
                    +span-columns(6)
                    +omega
                    @include media($media-mobile)
                        +span-columns(4)
                        +omega
                        padding: 3rem 2rem
                    p:first-child
                        margin-top: 0
                    p
                        clear: both
                        span
                            font-weight: bold
                    h4
                        text-align: center
                        font-size: 1rem
                    ul
                        padding: 0
                        margin: 0 0 2rem
                        clear: both
                        +row
                        +omega
                        li
                            list-style-type: none
                            text-align: center
                            .pie
                                margin-right: 1rem
                        &.diversity li
                            +span-columns(4)
                        &.outcomes
                            +span-columns(10)
                            +shift(1)
                            li
                                +span-columns(6)
                .cta
                    clear: both
                    padding-top: 4rem
                    +media($media-mobile)
                        padding-top: 1rem
                    ul
                        padding: 0
                        li
                            list-style-type: none
                            text-align: center
                            padding: 0 1rem
                            +span-columns(2)
                            a
                                display: block
                                padding: 0.5rem
                                color: $color-black
                            &:nth-child(3n-2)
                                +shift(3)
                            &:nth-child(2n)
                                padding: 0
                                a
                                    font-weight: 600
                                    padding: 1rem
                                    position: relative
                                    top: -0.5rem
                                    color: $color-white
                                    background-color: $color-red
                                    border: 1px solid $color-red
                                    border-radius: 2px
                                    text-decoration: none
                                    &:hover
                                        color: $color-red
                                        background-color: $color-white
                            +media($media-mobile)
                                display: none
                                &:nth-child(3n-1)
                                    display: block
                                    +span-columns(4)

            section.quote
                +span-columns(8)
                +shift(2)
                +omega
                padding: 1rem 0 1rem
                +media($media-mobile)
                    +span-columns(4)
                    +shift(0)
                blockquote
                    padding: 0 0 0 2rem
                    margin: 0
                    border-left: 3px solid $color-gray
                .attr
                    text-align: center
                    .name
                        display: block
                        font-weight: 700
                    .title
                        display: none
                    .org
                        display: block

            section.featured-stats
                clear: both
                .secondary, .primary
                    +span-columns(4)
                    text-align: center
                    .number
                        display: block
                .primary .number
                    font-size: 3.5rem
                    font-weight: bold
                .secondary .number
                    font-size: 2rem

            section.small-quotes
                clear: both
                padding-top: 4rem
                div
                    +span-columns(4)
                    padding: 1rem 0
                    display: inline-block
                    border-bottom: 1px solid $color-gray
                    border-top: 1px solid $color-gray
                    text-align: center
                    &:first-child, &:last-child
                        margin-top: 0.6rem


            section.featured
                &:before,
                &:after
                    margin:
                        top: 4rem
                        bottom: 3rem

                    content: ""
                    display: block
                    border-top: 1px solid $color-gray-light
                @include span-columns(12)
                h2
                    display: none
                h3
                    margin:
                        top: -1rem
                        bottom: 1rem
                    color: $color-gray
                    font:
                        family: $font-family-header
                        size: 1rem
                        weight: 500
                    text-align: center
                    clear: both

                .map
                    margin-bottom: 2rem

                ul
                    padding: 0
                    &:after
                        content: ""
                        display: block
                        clear: both
                    li
                        @include span-columns(2)
                        @include media($media-mobile)
                            @include span-columns(2)
                            margin-top: flex-gutter(4)
                            &:nth-child(2n)
                                @include omega
                            &:nth-child(n+5)
                                display: none

                        list-style-type: none
                        text-align: center
                        a
                            text-indent: -9999px
                            display: block
                            width: 100%
                            height: 23px
                            background:
                                repeat: no-repeat
                                size: contain
                                position: 50% 50%

                        &.npr a
                            background-image: url(../img/press/npr.png)
                        &.all-things-considered a
                            background-image: url(../img/press/all-things-considered.png)
                        &.techcrunch a
                            background-image: url(../img/press/techcrunch.png)
                        &.readwrite a
                            background-image: url(../img/press/readwrite.png)
                        &.geekwire a
                            background-image: url(../img/press/geekwire.png)
                        &.king5 a
                            background-image: url(../img/press/king5.png)
                        &.univision a
                            background-image: url('../img/press/univision.png')
