body.section-legal
  ///////////////////////// 
  // Code of Conduct
  ///////////////////////// 
  &.page-code-of-conduct
    .content
      max-width: $mobileWidth
    .enforcement:before
      content: ""
      width: 20%
      display: block
      margin-top: 3rem
      margin-bottom: 3rem
      border-top: 3px solid $color-gray-light


  ///////////////////////// 
  // Trademarks
  ///////////////////////// 
  &.page-trademarks
    .list
      th
        text-align: center
      img
        max-height: 50px
      th, td
        padding: 1rem
        &:nth-child(2), &:nth-child(3)
          text-align: center

  ///////////////////////// 
  // Bug Bounty
  ///////////////////////// 
  &.page-bugs
    li
      padding: 0.35rem 0
