<div class="angle bottom"></div>
<footer>
    <section class="about">
        <header>
            <h2>StudentRND</h2>
            <h3>We make students fall in love with coding.</h3>
        </header>
        <p>StudentRND is a 501(c)(3) public-charity registered in Washington.
           Our EIN is <input type="text" readonly value="26-4742589" class="ein copier" />
           (<a href="/assets/pdf/w9.pdf">W-9</a>).</p>
        <p><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></p>
    </section>
    <section class="company">
        <h2>Company</h2>
        <ul>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/open">Records</a></li>
        </ul>
    </section>
    <section class="policies">
        <h2>Policies</h2>
        <ul>
            <li><a href="/code-of-conduct">Code of Conduct</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/returns">Returns</a></li>
        </ul>
    </section>
</footer>

<span itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="StudentRND" />
    <meta itemprop="legalName" content="Student Research and Development" />
    <meta itemprop="logo" content="https://studentrnd.org/assets/img/press/assets/brand/studentrnd_logo.png" />
    <meta itemprop="foundingDate" content="2009-04-17" />
    <meta itemprop="email" content="contact@studentrnd.org" />
    <meta itemprop="telephone" content="(425) 780-7901" />
    <meta itemprop="address" content="Seattle, Washington" />
    <meta itemprop="taxID" content="26-4742589" />
    <meta itemprop="isicV4" content="8549" />
    <meta itemprop="naics" content="611420" />
</span>

{% set script_urls = [
    'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js',
    'https://use.typekit.net/wck5lid.js',
    'https://cdn.optimizely.com/js/2231930397.js'
] %}
{% for script_url in script_urls %}
    <script type="text/javascript" src="{{ script_url }}"></script>
{% endfor %}

<script type="text/javascript">
    (function(){
        try{Typekit.load();}catch(e){}
        $('.copier').click(function(){
            this.setSelectionRange(0, this.value.length);
        });
    })();

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.defer = true;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=206665059486034";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8868191-12', 'auto');
    ga('send', 'pageview');
</script>

{{ scripts|raw }}