-extends "template.haml" 
-block section
  admin
-block page
  email
-block title
  Email Maker
-block body
  .content
    %header
      %h2 Email Maker

    %form(method="post" enctype="multipart/form-data")
      %input(type="text" name="preheader" placeholder="Preview Text" required)
      <br />
      %input(type="file" name="photo" required)
      <br />
      %input(type="text" name="herotext" placeholder="Hero Text" required)
      <br />
      %textarea(name="content" placeholder="Content" cols="80" rows="20" required)
      <br />
      %input(type="submit" value="Submit")
