@import "../../../styles/styles"

div.secure
  margin-top: +modular-scale(0)
  img
    float: left
    width: 25px
  p
    float: left
    width: calc( 100% - 30px )
    padding-left: 10px
    color: $color-gray
    margin-top: 4pt
    font-size: +modular-scale(-1)
