@import "../../styles/styles"

div.content > *
  @extend %content
  @extend %clearfix
  margin-bottom: +modular-scale(1)

.page.promo div.content
  h2
    text-align: center
    margin-top: +modular-scale(7)
    margin-bottom: +modular-scale(3)

  & > div:first-child
    margin: 8rem 0
    max-width: 100%
    & > div
      width: 100%
      max-width: $width - ($padding * 2)
      margin: 0 auto
      float: none

    &:before, &:after
      content: ""
      display: block
      background:
        repeat: repeat-x
        position: 0 50%
      +mobile
        background-size: cover
    &:before
      background-image: url(./photos-top.png)
      background-size: auto 100%
      height: 424px
      +mobile
        height: 50vw
    &:after
      background-image: url(./photos-bottom.png)
      background-size: auto 100%
      height: 286px
      +mobile
        height: 30vw
    +hidpi
      &:before
        background-image: url(./photos-top@2x.png)
      &:after
        background-image: url(./photos-bottom@2x.png)

