{% extends "template.twig" %}
{% block section %}code-of-conduct{% endblock %}
{% block page %}code-of-conduct{% endblock %}
{% block title %}Code of Conduct{% endblock %}
{% block page_tagline %}The Code of Conduct{% endblock %}
{% block content %}
    <section class="code">
        <p>StudentRND is an awesome organization to be involved with. We have fun and build a lot of cool things.</p>

        <p>At the same time, StudentRND is a national community, and we need to make sure that our activities don't prevent
            others from having fun as well.</p>

        <p>All community members are expected to:</p>

        <ol>
            <li>Act in a way that displays yourself as a positive role model.</li>
            <li>Be humble, even when you're successful.</li>
            <li>Respect, encourage, and support other students.</li>
        </ol>

        <p>Additionally, at all StudentRND venues, events, and activities, community members must:</p>

        <ul>
            <li>Help clean up after yourself and others.</li>
            <li>Ensure the safety of yourself and other participants.</li>
            <li>Not carry guns, knives, or other weapons.</li>
            <li>Abstain from using or being under the influence of alcohol, marijuana, illicit substances, and recreational drugs.</li>
            <li>Not insult or harass other students.</li>
            <li>Abstain from using offensive language referring to people's gender, sexual orientation, religion, race, ethnicity,
                or age.</li>
            <li>Abstain from using sexual language or imagery.</li>
        </ul>

        <p>Community members violating these rules may be sanctioned at the discretion of StudentRND staff, including
           an expulsion or ban from all StudentRND activities without refund.</p>
    </section>
{% endblock %}
