{% extends "template.twig" %}
{% block section %}contact{% endblock %}
{% block page %}contact{% endblock %}
{% block title %}Contact{% endblock %}
{% block page_tagline %}Let's get you in touch with the right people{% endblock %}
{% block content %}
    <section class="contacts">
        <section>
            <h4>Press</h4>
            <p>For press inquiries, please email us or call our 24/7 press hotline:</p>
            <ul>
                <li><a href="mailto:press@studentrnd.org">press@studentrnd.org</a></li>
                <li><a href="tel:+18663822377">(888) 382-2377</a></li>
            </ul>
        </section>

        <section>
            <h4>Sponsors and Partners</h4>
            <p>If you'd like to support the future of tech education, please contact:</p>
            <ul>
                <li><a href="mailto:sponsor@studentrnd.org">sponsor@studentrnd.org</a></li>
                <li><a href="tel:+14257807901p3#">(425) 780-7901 x3</a></li>
            </ul>
        </section>

        <section>
            <h4>CodeDay</h4>
            <p>CodeDay questions are handled by a special team:</p>
            <ul>
                <li><a href="mailto:contact@codeday.org">contact@codeday.org</a></li>
                <li><a href="tel:+18882633230">(888) CODE-230</a></li>
            </ul>
        </section>

        <section>
            <h4>Other Requests</h4>
            <p>Please direct all other requests to our general support:</p>
            <ul>
                <li><a href="mailto:contact@studentrnd.org">contact@studentrnd.org</a></li>
                <li><a href="tel:+18886077763">(888) 607-SRND</a></li>
                <li>
                    <span class="name">StudentRND</span>
                    <span class="address">
                        <span class="street">505 Broadway E</span>
                        <span class="box">Box 141</span>
                        <span class="delivery">Seattle, WA 98102</span>
                    </span>
                </li>
            </ul>
        </section>
    </section>

    <section class="team">
        <header>
            <h3>Leadership</h3>
            <p>Our team brings years of experience in education, non-profits, and the tech space.</p>
        </header>

        <section class="key people">
            <ul>
                <li>
                    <section class="picture"><img src="/assets/img/team/tyler.jpg" /></section>
                    <article>
                        <span class="name">Tyler Menezes</span>
                        <span class="title">Executive Director</span>
                        <section class="description">
                            <p>In addition to his experience at the head of a Y Combinator-backed tech startup, Tyler
                               brings several years of experience teaching CS in high schools.</p>
                            <p>Before becoming Executive Director, Tyler worked as the Program Director for StudentRND.
                               For his work with StudentRND, he's been named one of the top 30 under 30 in the Seattle
                                area.</p>
                        </section>
                    </article>
                </li>

                <li>
                    <section class="picture"><img src="/assets/img/team/edward.jpg" /></section>
                    <article>
                        <span class="name">Edward Jiang</span>
                        <span class="title">Chairman of the Board</span>
                        <section class="description">
                            <p>The original founder of StudentRND, Edward served as its Executive Director until early
                               2014. He currently heads Business Development at PadMapper.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/christy.jpg" /></section>
                    <article>
                        <span class="name">Christy Wilson</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>Christy brings years of non-profit experience from her time as the founder of
                               Splunk4Good, Splunk's charitable arm.</p>
                            <p>While at Splunk, she also served as the VP of Product Operations and Engineering, and is
                               currently the VP of Operations at ContextRelevant.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/charlie.jpg" /></section>
                    <article>
                        <span class="name">Charlie Kindel</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>Charlie is the Director of Product for Amazon Alexa and Echo. He was previously the
                               General Manager of Windows Phone.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/zaq.jpg" /></section>
                    <article>
                        <span class="name">Zaq Wiedmann</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>In addition to working to develop much of the early curriculum and pedagogy of CodeDay,
                               Zaq has been one of the organization's earliest volunteers. He works as an Engineer at
                               Tune.</p>
                        </section>
                    </article>
                </li>
            </ul>
        </section>
    </section>
{% endblock %}
