{% extends "template.twig" %}
{% block section %}home{% endblock %}
{% block page %}index{% endblock %}
{% block hero %}
    <section class="hero">
        <article>
            {% if fundraising.active %}
                <section class="fundraise-ask">
                    <p class="mission">Help build the future of StudentRND.</p>
                    <p class="scale">Donate today to support tens of thousands of students</p>
                </section>
                <section class="fundraise-form">
                    <form action="/donate" method="post">
                        <div class="amount-selector">
                            <label for="amount">Amount</label><div class="select-styler">
                                <select name="amount" id="amount">
                                    <option value="50O">$50</option>
                                    <option value="100" selected>$100</option>
                                    <option value="500">$500</option>
                                    <option value="1000">$1,000</option>
                                </select>
                            </div>
                        </div>{#
                        #}<input type="submit" value="Contribute"/>
                        <span class="learn-more">Or <a href="/donate">learn more</a></span>
                    </form>
                </section>
            {% else %}
                <div class="map"></div>
                <section class="info">
                    <p class="mission">Through our programs, students get interested in coding, and stay interested in coding.</p>
                    <p class="scale">Tens of thousands of students &middot; 38 cities across the US</p>
                </section>
            {% endif %}
        </article>
    </section>
    {% if not fundraising.active %}
        <a class="donate" href="/donate">
            We are funded by donations, and spend $36 per participant to bring tech education to your city.
            <span class="link">Please donate now.</span>
        </a>
    {% endif %}
{% endblock %}
{% block content %}
    <section class="impact">
        <header>
            <h2>The strongest engagement with students who need it.</h2>
            <p>Through years of experience and refinement, we've developed a model which is proven to get
               girls, minorities, and students of low socioeconomic status to get interested in coding, and
               stay interested in coding.</p>
        </header>

        <ul>
            <li>
                <img src="/assets/img/girls.jpg" />
                <h3>The most diverse tech programs.</h3>
                <p>43% of our participants are girls, 38% are from Title I schools, and 21% are from a
                   under-represented ethnic group.</p>
            </li>
            <li>
                <img src="/assets/img/press/assets/codeday/01.jpg" />
                <h3>Measurable changes in behavior.</h3>
                <p>We target high school students with no prior interest or experience in coding.
                   80% of these students are still coding three months later.</p>
            </li>
        </ul>
    </section>

    <section class="featured">
        <h2>You may have heard about us in:</h2>
        <ul>
            <li class="npr"><a href="http://blogs.kqed.org/mindshift/2012/04/watch-out-silicon-valley-here-come-the-tinkering-teens/">NPR</a></li>
            <li class="all-things-considered"><a href="http://www.npr.org/blogs/alltechconsidered/2014/01/25/266162832/computers-are-the-future-but-does-everyone-need-to-code">All Things Considered</a></li>
            <li class="univision"><a href="http://www.kunstv.com/noticias/video/Un-chico-con-buenas-ideas-para-los-demas-jovenes-304649881.html">Univision</a></li>
            <li class="techcrunch"><a href="http://techcrunch.com/2013/01/18/the-weekly-good-the-problems-of-today-will-be-solved-by-the-minds-of-tomorrow/">TechCrunch</a></li>
            <li class="readwrite"><a href="http://readwrite.com/2013/10/18/kids-learn-code-programming">Readwrite</a></li>
            <li class="king5"><a href="http://www.king5.com/news/Students-in-code-heaven-at-Code-Day-193177871.html">King5</a></li>
        </ul>
    </section>

    <section class="codeday">
        <header>
            <h2>CodeDay: A proven program for getting students started.</h2>
            <p>Plenty of programs support students who want to learn to code, but most students aren't yet interested.
                Our flagship program, CodeDay, is focused on getting students to take the first step: trying out coding.
                Since 2009 we've convinced tens of thousands to do just that.</p>
        </header>

        <div class="video">
            <iframe src="//fast.wistia.net/embed/iframe/r4avh9mp2g?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" id="splash-video" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
            <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
        </div>

        <div class="details">
            <p>CodeDay targets students with no prior coding experience, and offers them an opportunity to code
                something which interests them individually, rather than a standard assignment.</p>
            <p>At CodeDay, students pitch ideas for apps or games they want to see exist, then spend the next 24 hours
                creating them while learning more about code, with the help our of staff and mentors.</p>
            <p>Showing students the creative side of code convinces most to pursue coding further.</p>
            <p>Students regularly tell us CodeDay is one of the most meaningful things they've done. Over 80% of our
                attendees continue to code after attending; strengthening the local tech community and empowering
                low-income students and minority groups.</p>
            <p>For more information, visit <a href="https://codeday.org/">CodeDay.org.</a></p>
        </div>
    </section>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        (function(){
            var previous_width = null;
            var redraw_map = function(){
                var path = d3.geo.path();

                if ($('body > .hero .map').width() === previous_width) {
                    {# Window width hasn't changed, no need to redraw #}
                    return;
                } else {
                    previous_width = $('body > .hero .map').width();
                }

                var map = $('body > .hero .map').html('<svg></svg>');
                var width = map.width();
                var height = map.width() * 0.6;

                var projection = d3.geo.albersUsa()
                        .scale((width * 1.2))
                        .translate([width / 2, height / 2]);

                var path = d3.geo.path()
                        .projection(projection);

                var svg = d3.select("body > .hero .map svg")
                        .attr("width", width)
                        .attr("height", height);

                d3.json("/assets/topo/us.json", function(error, us) {
                    svg.insert("path", ".graticule")
                            .datum(topojson.feature(us, us.objects.land))
                            .attr("class", "land")
                            .attr("d", path);

                    svg.insert("clipPath")
                            .attr("id", "landclip")
                            .append("path", ".graticule")
                            .datum(topojson.feature(us, us.objects.land))
                            .attr("d", path);


                    svg.insert("path", ".graticule")
                            .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
                            .attr("class", "state-boundary")
                            .attr("d", path);

                    var regions = {% include "parts/regions.twig" %};

                    svg.selectAll("circle.footprint")
                            .data(regions)
                            .enter()
                            .append("circle")
                            .attr("cx", function(d) { return projection([d.lng, d.lat])[0]; })
                            .attr("cy", function(d) { return projection([d.lng, d.lat])[1]; })
                            .attr("r", Math.min(49, (width/12.5)))
                            .attr("clip-path", "url(#landclip)")
                            .attr("class", "footprint");

                    svg.selectAll("circle.outline")
                            .data(regions)
                            .enter()
                            .append("circle")
                            .attr("cx", function(d) { return projection([d.lng, d.lat])[0]; })
                            .attr("cy", function(d) { return projection([d.lng, d.lat])[1]; })
                            .attr("r", Math.min(21, (width/10)))
                            .attr("clip-path", "url(#landclip)")
                            .attr("class", "outline");

                    svg.selectAll("circle.city")
                            .data(regions)
                            .enter()
                            .append("circle")
                            .attr("cx", function(d) { return projection([d.lng, d.lat])[0]; })
                            .attr("cy", function(d) { return projection([d.lng, d.lat])[1]; })
                            .attr("r", Math.min(7, (width/100)))
                            .attr("class", "city");
                });

                d3.select(self.frameElement).style("height", height + "px");
            };

            redraw_map();
            $(window).on('resize', redraw_map);
        })();
    </script>
{% endblock %}