{% extends "template.twig" %}
{% block section %}press{% endblock %}
{% block page %}press{% endblock %}
{% block title %}Press{% endblock %}
{% block page_tagline %}Resources for Press{% endblock %}
{% block content %}
    <section class="resources">
        <h4>Brand</h4>
        <ul class="assets">
            <li>
                <a href="/assets/img/press/assets/brand/studentrnd_logo.png">
                    <img src="/assets/img/press/assets/brand/studentrnd_logo_preview.png" alt="StudentRND Logo" />
                </a>
                <ul>
                    <li><a href="/assets/img/press/assets/brand/studentrnd_logo.ai">AI</a></li>
                    <li><a href="/assets/img/press/assets/brand/studentrnd_logo.eps">EPS</a></li>
                    <li><a href="/assets/img/press/assets/brand/studentrnd_logo.jpg">JPG</a></li>
                    <li><a href="/assets/img/press/assets/brand/studentrnd_logo.png">PNG</a></li>
                    <li><a href="/assets/img/press/assets/brand/studentrnd_logo_bw.png">PNG (B/W)</a></li>
                </ul>
            </li>

            <li>
                <a href="/assets/img/press/assets/brand/codeday_logo.png">
                    <img src="/assets/img/press/assets/brand/codeday_logo_preview.png" alt="CodeDay Logo" />
                </a>
                <ul>
                    <li><a href="/assets/img/press/assets/brand/codeday_logo.ai">AI</a></li>
                    <li><a href="/assets/img/press/assets/brand/codeday_logo.eps">EPS</a></li>
                    <li><a href="/assets/img/press/assets/brand/codeday_logo.jpg">JPG</a></li>
                    <li><a href="/assets/img/press/assets/brand/codeday_logo.png">PNG</a></li>
                    <li><a href="/assets/img/press/assets/brand/codeday_logo_bw.png">PNG (B/W)</a></li>
                </ul>
            </li>
        </ul>

        <h4>CodeDay</h4>
        <ul class="assets small">
            <li>
                <a href="/assets/img/press/assets/codeday/01.jpg">
                    <img src="/assets/img/press/assets/codeday/01_preview.jpg" alt="Students programming in a pink room" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/02.jpg">
                    <img src="/assets/img/press/assets/codeday/02_preview.jpg" alt="Girl programming at event" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/03.jpg">
                    <img src="/assets/img/press/assets/codeday/03_preview.jpg" alt="Programming event team photo" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/04.jpg">
                    <img src="/assets/img/press/assets/codeday/04_preview.jpg" alt="Tech project presentation" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/05.jpg">
                    <img src="/assets/img/press/assets/codeday/05_preview.jpg" alt="Girls coding at CodeDay" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/06.jpg">
                    <img src="/assets/img/press/assets/codeday/06_preview.jpg" alt="Programming awards" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/07.jpg">
                    <img src="/assets/img/press/assets/codeday/07_preview.jpg" alt="Student programmers in room" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/08.jpg">
                    <img src="/assets/img/press/assets/codeday/08_preview.jpg" alt="TV crew recording presentation" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/codeday/09.jpg">
                    <img src="/assets/img/press/assets/codeday/09_preview.jpg" alt="Student presenting at CodeDay" />
                </a>
            </li>
        </ul>

        <h4>The StudentRND Team</h4>
        <ul class="assets small">
            <li>
                <a href="/assets/img/press/assets/studentrnd/01.jpg">
                    <img src="/assets/img/press/assets/studentrnd/01_preview.jpg" alt="StudentRND team pyramid" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/studentrnd/02.jpg">
                    <img src="/assets/img/press/assets/studentrnd/02_preview.jpg" alt="Holding hammers" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/studentrnd/03.jpg">
                    <img src="/assets/img/press/assets/studentrnd/03_preview.jpg" alt="StudentRND team hugging" />
                </a>
            </li>
            <li>
                <a href="/assets/img/press/assets/studentrnd/04.jpg">
                    <img src="/assets/img/press/assets/studentrnd/04_preview.jpg" alt="StudentRND Team working" />
                </a>
            </li>
        </ul>

        <section class="license">
            <p>You are granted a world-wide, royalty-free, perpetual, and irrevocable license to use
                these images solely in whole for editorial use by press, bloggers, and/or industry analysts.
                StudentRND is and shall remain the sole and exclusive owner of these images.</p>
        </section>
    </section>

    <section class="information">
        <h4>Can we help?</h4>
        <p>For press inquiries, please email us or call our 24/7 press hotline:</p>
        <ul>
            <li><a href="mailto:press@studentrnd.org">press@studentrnd.org</a></li>
            <li><a href="tel:+18663822377">(888) 382-2377</a></li>
        </ul>

        <h4>StudentRND at-a-glance</h4>
        <p>StudentRND is a non-profit which makes students fall in love with coding
           nationwide.</p>
        <p>It runs events, such as CodeDay, which get students excited about coding
           and helps them get started.</p>
        <p>StudentRND was founded in 2009, and has since expanded its coding programs to over
           30 cities across the US. Its community includes more than 10,000 students.</p>
    </section>
{% endblock %}