{% extends "template.twig" %}
{% block section %}rsvp{% endblock %}
{% block page %}confirm{% endblock %}
{% block title %}RSVP{% endblock %}
{% block page_tagline %}{{ event.name }}{% endblock %}
{% block content %}
    <p>Thank you for confirming your attendance. We'll see you on
        {% if event.arrive_at %}
            {{ event.arrive_at.timestamp|date('l, M jS \\a\\t g:ia') }}
        {% else %}
            {{ event.starts_at.timestamp|date('l, M jS \\a\\t g:ia') }}
        {% endif %}.
    </p>
{% endblock %}