{% extends "template.twig" %}
{% block section %}team{% endblock %}
{% block page %}team{% endblock %}
{% block title %}Team{% endblock %}
{% block page_tagline %}Our team is dedicated to educating the future{% endblock %}
{% block content %}
    <section class="leadership">
        <h3>Leadership</h3>
        <ul>
            <li>
                <span class="photo"></span>
                <div class="details">
                    <h4>Tyler Menezes</h4>
                    <span class="title">Executive Director</span>
                    <p>A Y Combinator alum with a research background from Microsoft Research</p>
                </div>
            </li>
            <li>
                <span class="photo"></span>
                <div class="details">
                    <h4>Brett Neese</h4>
                    <span class="title">Partnership Director</span>
                    <p>Long-time CodeDay organizer passionate about growing inclusion in the tech community</p>
                </div>
            </li>
            <li>
                <span class="photo"></span>
                <div class="details">
                    <h4>Tyler Crisafulli</h4>
                    <span class="title">Education Director</span>
                    <p>Former Apple and Microsoft employee skilled in building local community leaders</p>
                </div>
            </li>
        </ul>
    </section>
{% endblock %}