body.home.index > section.hero
    height: 80%
    width: 100%
    min-height: 30rem
    margin-top: -5rem
    padding-top: 5rem
    position: relative
    background:
        image: url(../img/wider.jpg)
        color: $color-blue
        size: cover
        position: 50% 40%
        repeat: no-repeat

    @include media($media-mobile)
        height: initial
        min-height: 40rem
        background:
            image: url(../img/widermo.jpg)
            position: 50% 50%


    &::selection
        background: #ffffff
        color: $color-blue

    &::-moz-selection
        background: #ffffff
        color: $color-blue

    article
        @include outer-container
        clear: both

        position: absolute
        left: 0
        right: 0
        top: 25%

        @include media($media-mobile)
            position: initial
            top: initial


        .info, .fundraise-ask
            @include span-columns(5)
            @include shift(7)
            margin-top: 2.5rem
            text-align: right

            @include media($media-mobile)
                @include span-columns(4)
                @include omega
                @include shift(0)
                text-align: center
                margin-top: 0

            .mission
                font:
                    family: $font-family-header
                    weight: 100
                    style: italic
                    size: 2rem
                color: $color-black
                line-height: 3.4rem
                margin:
                    bottom: 0
                    top: 0

            .what
                font:
                    family: $font-family-header
                    size: 1rem
                color: lighten($color-black, 30)
body > a.donate
    display: block
    width: 100%
    text-align: center
    margin: 0
    padding: 0.25rem 0.25rem 1.25rem
    background-color: $color-green
    color: #fff
    text-decoration: none
    .link
        text-decoration: underline
