%p Hi #{donation.first_name},

%p We just received your $#{donation.amount|number_format(2)} donation, and we wanted to take a second to say thanks!
%p Bringing CodeDay to your community costs just $36 per participant, so a few dollars can go a long way:
%ul 
  %li Your support allows more students attend CodeDay with more scholarships and increased capacity.
  %li Contributions help bring events to new cities, helping reach students without access to tech programs.

%p
  Our participants frequently tell us that attending CodeDay has had a tremendous impact on their lives. By donating,
  you're now a part of creating that impact.
  -if donation.transaction_subscription_id
    %p
      (And, because you've elected to make this a monthly donation, you'll be continuing to help us change students'
      lives throughout the year!)
%p
  You can print a receipt for this donation at
  %a(href="https://srnd.org/donate/receipt/#{donation.id}") https://srnd.org/donate/receipt/#{donation.id}

%p Again, thank you so much. Your support makes this all happen.

%p - The srnd.org Team
