body > footer
  clear: both
  width: 100%
  max-width: $width
  margin: 0 auto
  padding: 4rem 0
  .copyright
    +grid-column(3)
    font-size: +modular-scale(-1)
    color: $color-gray
  .links, .legal
    +grid-column(2)
    text-align: right
    ul
      padding: 0
      margin-top: 0
      li
        list-style-type: none
        a
          color: $color-gray
  +desktop
    .legal
      +grid-push(5)
  +mobile
    .copyright, .links, .legal
      +grid-column(4)
  +print
    .copyright, .links, .legal
      display: none

