<div class="angle bottom"></div>
<footer>
    <section class="about">
        <header>
            <h2>StudentRND</h2>
            <h3>We help students fall in love with coding.</h3>
        </header>
        <p>StudentRND is a 501(c)(3) public-charity registered in Washington.
           Our EIN is <input type="text" readonly value="26-4742589" class="ein copier" />
           (<a href="/assets/pdf/open/w9.pdf">W-9</a>).</p>
        <p style="display:none"><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></p>
    </section>
    <section class="company">
        <h2>Company</h2>
        <ul>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/open">Records</a></li>
        </ul>
    </section>
    <section class="policies">
        <h2>Policies</h2>
        <ul>
            <li><a href="/code-of-conduct">Code of Conduct</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/returns">Returns</a></li>
        </ul>
    </section>
</footer>

<span itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="StudentRND" />
    <meta itemprop="legalName" content="Student Research and Development" />
    <meta itemprop="logo" content="https://studentrnd.org/assets/img/press/assets/brand/studentrnd_logo.png" />
    <meta itemprop="foundingDate" content="2009-04-17" />
    <meta itemprop="email" content="contact@studentrnd.org" />
    <meta itemprop="telephone" content="(425) 780-7901" />
    <meta itemprop="address" content="Seattle, Washington" />
    <meta itemprop="taxID" content="26-4742589" />
    <meta itemprop="isicV4" content="8549" />
    <meta itemprop="naics" content="611420" />
</span>
<script type="text/javascript">window.stripePk = "{{ stripe_public|escape('js') }}";</script>
{% set script_urls = [
    'https://js.stripe.com/v2/',
    '/assets/js/app.js?c={{version}}'
] %}
{% for script_url in script_urls %}
    <script type="text/javascript" src="{{ script_url }}" data-no-instant></script>
{% endfor %}
<script charset="ISO-8859-1" src="//fast.wistia.net/assets/external/E-v1.js" async></script>
{{ scripts|raw }}
