{% set nav = [
    {
        "id": "contact",
        "name": "Contact",
        "url": "/contact"
    },
    {
        "id": "build",
        "name": "Blog",
        "url": "/build"
    },
    {
        "id": "donate",
        "name": "Donate",
        "url": "/donate"
    },
    {
        "id": "press",
        "name": "Press Kit",
        "url": "/press"
    },
    {
        "id": "about",
        "name": "About",
        "url": "/about"
    }
] %}

<header>
    <section class="content">
        <h1><a href="/">StudentRND</a></h1>
        <nav>
            <ul>
                {% for nav_item in nav %}
                    <li
                            {% if nav_item.id == section %}
                        class="active"
                            {% endif %}>
                        <a href="{{ nav_item.url }}">
                            {{ nav_item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>
</header>