<p>Hi {{ donation.first_name }},</p>

<p>We just received your ${{ donation.amount|number_format(2) }} donation, and we wanted to take a second to say thanks!</p>

<p>Bringing CodeDay to your community costs just $36 per participant, so a few dollars can go a long way:</p>

<ul>
    <li>Your support allows more students attend CodeDay with more scholarships and increased capacity.</li>
    <li>Contributions help bring events to new cities, helping reach students without access to tech programs.</li>
    <li>Help us launch new programs, giving students new ways to learn, and giving beginners additional opportunities to get involved.</li>
</ul>

<p>Our participants frequently tell us that attending CodeDay has had a tremendous impact on their lives. By donating,
    you're now a part of creating that impact.
    {% if donation.transaction_subscription_id %}
        (And, because you've elected to make this a monthly donation, you'll be continuing to help us change students'
        lives throughout the year!)
    {% endif %}
</p>

<p>You can print a receipt for this donation at
    <a href="https://studentrnd.org/donate/receipt/{{ donation.id }}">https://studentrnd.org/donate/receipt/{{ donation.id }}</a>

<p>Again, thank you so much. Your support makes this all happen.</p>

<p>- The StudentRND Team</p>