<section class="sidebar">
    <article class="categories">
        <ul>
            {% for category in categories %}
                {% if category|lower != "press release" and category.posts|length > 0 %}
                    <li><a href="{{ category.link }}" style="border-left-color: #{{ category|sha256|slice(0,6) }};">{{ category }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </article>
</section>