@import "../../../styles/styles"

div.content .heading, .heading
  h1, h2
    &, &:first-child
      margin:
        top: +modular-scale(2)
        bottom: +modular-scale(0)

  h3, h4, h5, h6
    &, &:first-child
      margin:
        top: +modular-scale(1)
        bottom: +modular-scale(0)

