{% extends "template.twig" %}
{% block section %}about{% endblock %}
{% block page %}about{% endblock %}
{% block title %}About{% endblock %}
{% block page_tagline %}Learning to code allows students to change the world. We get them to take the first step.{% endblock %}
{% block content %}
    <section class="mission">
        <article>
            <p>Many organizations increase access to computer science education, but most students still don't want
               to learn to code, particularly the students who need it most. In fact, even when low-income schools start
               CS classes, only around 8% of students take interest.</p>
            <p>StudentRND is a 501(c)(3) non-profit which solves this problem. We run events which appeal to students
               with little or no programing interest and, by the end of each event, show them that coding is both fun
               and impactful&thinsp;&mdash;&thinsp;both individually, and on the world as a whole. After attending, we
               support students through our large community, and through partnerships with other events.</p>
            <p>We see dramatic improvements in students after attending our event. 80% of students with no prior
               interest in computer science continue programming after an event, 74% attend community tech events, and
               nearly a half go on to major in CS.</p>
        </article>
    </section>

    <section class="results">
        <header>
            <h2>We're data-driven, delivering measurable results.</h2>
            <p>We track our impact obsessively as we work to create a better world.</p>
        </header>

        <article class="diversity">
            <h3>Diversity</h3>
            <ul>
                <li><span class="pie">43,57</span>43% girls</li>
                <li><span class="pie">38,62</span>38% low-income</li>
                <li><span class="pie">28,72</span>28% ethnic minorities</li>
            </ul>
        </article>

        <article class="reach">
            <h3>Reach</h3>
            <ul>
                <li>10,000+ students attended</li>
                <li>38 cities nationwide</li>
                <li>78% of US students in service areas</li>
            </ul>
        </article>

        <article class="outcomes">
            <h3>Outcomes</h3>
            <ul>
                <li><span class="pie">80,20</span>80% continue coding</li>
                <li><span class="pie">74,26</span>74% later attend tech events</li>
                <li><span class="pie">47,53</span>47% major in a computer-related field</li>
            </ul>
        </article>
    </section>

    <section class="nation">
        <header>
            <h2>Our impact is nation-wide.</h2>
            <p>72% of US high school students are within 2 hours driving distance of StudentRND programs.</p>
        </header>

        <div class="map"></div>
        <section class="cities">
            <ul>
                <li>Seattle</li>
                <li>Portland</li>
                <li>Corvallis</li>
                <li>San Francisco</li>
                <li>San Jose</li>
                <li>Los Angeles</li>
                <li>Las Vegas</li>
                <li>Salt Lake City</li>
                <li>Phoenix</li>
                <li>Boulder</li>
                <li>Denver</li>
                <li>Loveland</li>
                <li>Austin</li>
                <li>Houston</li>
                <li>Dallas</li>
                <li>Kansas City</li>
                <li>Omaha</li>
                <li>Minneapolis</li>
                <li>Des Moines</li>
                <li>Iowa City</li>
                <li>Chicago</li>
                <li>St. Louis</li>
                <li>Nashville</li>
                <li>Dayton</li>
                <li>Atlanta</li>
                <li>Detroit</li>
                <li>Columbia</li>
                <li>Boston</li>
                <li>New York</li>
                <li>New Jersey</li>
                <li>Pittsburgh</li>
                <li>Philadelphia</li>
                <li>Washington DC</li>
                <li>Orlando</li>
                <li>Miami</li>
                <li>Boca Raton</li>
            </ul>
        </section>
    </section>

    <section class="team">
        <header>
            <h2>Our programs are run by a world-class team.</h2>
            <p>Our team brings years of experience in education, non-profits, and the technology.</p>
        </header>

        <section class="key people">
            <ul>
                <li>
                    <section class="picture"><img src="/assets/img/team/tyler.png" /></section>
                    <article>
                        <span class="name">Tyler Menezes</span>
                        <span class="title">Executive Director</span>
                        <section class="description">
                            <p>In addition to his experience at the head of a Y Combinator-backed tech startup, Tyler
                                brings several years of experience teaching CS in high schools.</p>
                            <p>Before becoming Executive Director, Tyler worked as the Program Director for StudentRND.
                                For his work with StudentRND, he's been named one of the top 30 under 30 in the Seattle
                                area.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/zaq.png" /></section>
                    <article>
                        <span class="name">Zaq Wiedmann</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>In addition to working to develop much of the early curriculum and pedagogy of CodeDay,
                                Zaq has been one of the organization's earliest volunteers. He works as an Engineer at
                                Tune.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/bob.png" /></section>
                    <article>
                        <span class="name">Bob Crimmins</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>Bob is a seasoned entrepreneur in the Seattle area, an advisor to UP Global/Startup
                               Weekend and a mentor at Techstars with a background in engineering and software
                               development.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/ana.png" /></section>
                    <article>
                        <span class="name">Ana Pooley</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>Ana Pooley is a CodeDay alum, a student at Macalester College studying Computer Science,
                               Mathematics, and Political Science, and a recipient of the NCWIT Aspirations in Computing
                               Award.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/edward.jpg" /></section>
                    <article>
                        <span class="name">Edward Jiang</span>
                        <span class="title">Advisor</span>
                        <section class="description">
                            <p>The original founder of StudentRND, Edward served as its Executive Director until early
                                2014. He's currently a Developer Evangelist at Stormpath, and previously led Business
                                Development for PadMapper.</p>
                        </section>
                    </article>
                </li>
            </ul>
        </section>
        <section class="additional people">
            <ul>
                <li>
                    <section class="picture"><img src="/assets/img/team/sanil.png" /></section>
                    <article>
                        <span class="name">Sanil Chawla</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/vivian.png" /></section>
                    <article>
                        <span class="name">Vivian Shen</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/momo.png" /></section>
                    <article>
                        <span class="name">Momo Zhang</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/adele.png" /></section>
                    <article>
                        <span class="name">Adele Miller</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/leah.png" /></section>
                    <article>
                        <span class="name">Leah Chung</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/victor.jpg" /></section>
                    <article>
                        <span class="name">Victor Lourng</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/rohan.png" /></section>
                    <article>
                        <span class="name">Rohan Misra</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/james.png" /></section>
                    <article>
                        <span class="name">James Gan</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/winston.png" /></section>
                    <article>
                        <span class="name">Winston Rogers</span>
                        <span class="title">Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/luke.png" /></section>
                    <article>
                        <span class="name">Luke Igel</span>
                        <span class="title">Co-Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/william.png" /></section>
                    <article>
                        <span class="name">William Walcher</span>
                        <span class="title">Co-Regional Manager</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/mark.png" /></section>
                    <article>
                        <span class="name">Mark Reiter</span>
                        <span class="title">Senior Code Evangelist</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/tom.png" /></section>
                    <article>
                        <span class="name">Tom Paulus</span>
                        <span class="title">Senior Code Evangelist</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/carson.png" /></section>
                    <article>
                        <span class="name">Carson Woods</span>
                        <span class="title">Senior Code Evangelist</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/amelia.jpg" /></section>
                    <article>
                        <span class="name">Amelia Bertozzi-Villa</span>
                        <span class="title">Senior Code Evangelist</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/bryan.jpg" /></section>
                    <article>
                        <span class="name">Bryan Rivera</span>
                        <span class="title">Senior Code Evangelist</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/tj.png" /></section>
                    <article>
                        <span class="name">TJ Horner</span>
                        <span class="title">Intern</span>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/jrc.png" /></section>
                    <article>
                        <span class="name">James Click</span>
                        <span class="title">Intern</span>
                    </article>
                </li>
            </ul>
        </section>
    </section>
{% endblock %}
