{% extends "template.twig" %}
{% block section %}about{% endblock %}
{% block page %}about{% endblock %}
{% block title %}About{% endblock %}
{% block page_tagline %}Learning to code allows students to change the world. We get them to take the first step.{% endblock %}
{% block content %}
    <section class="mission">
        <article>
            <p>Many organizations increase access to computer science education, but most students still don't want
               to learn to code, particularly the students who need it most. In fact, even when low-income schools start
               CS classes, only around 8% of students take interest.</p>
            <p>StudentRND is a 501(c)(3) non-profit which solves this problem. We run events which appeal to students
               with little or no programing interest and, by the end of each event, show them that coding is both fun
               and impactful&thinsp;&mdash;&thinsp;both individually, and on the world as a whole. After attending, we
               support students through our large community, and through partnerships with other events.</p>
            <p>We see dramatic improvements in students after attending our event. 80% of students with no prior
               interest in computer science continue programming after an event, 74% attend community tech events, and
               nearly a half go on to major in CS.</p>
            <p>&nbsp;</p>
            <p>Several key principles, developed by building on academic research and improved through dozens of
               iterations, have led us to such successful programs:</p>
        </article>

        <ul class="principles">
            <li>
                <img src="/assets/img/press/assets/codeday/01.jpg" />
                <h3>Always hands-on.</h3>
                <p>Fun, hands-on experiences get students talking about how fun coding is, in a way classes never
                   can.</p>
            </li>

            <li>
                <img src="/assets/img/alex.jpg" />
                <h3>Work with existing interests.</h3>
                <p>From artists to mathematicians, our programs show students how coding can complement their existing
                    interests.</p>
            </li>

            <li>
                <img src="/assets/img/press/assets/codeday/05.jpg" />
                <h3>Diverse targets.</h3>
                <p>A majority of students who are currently un-interested in coding come from backgrounds without much
                    access to technology.</p>
            </li>

            <li>
                <img src="/assets/img/diverse_team.jpg" />
                <h3>Inclusive community-building.</h3>
                <p>We work to connect students across schools, cities, and demographics, to build communities which
                    support students life-long: from learning to code through looking for jobs.</p>
            </li>
        </ul>
    </section>

    <section class="results">
        <header>
            <h2>We're data-driven, delivering measurable results.</h2>
            <p>We track our impact obsessively as we work to create a better world.</p>
        </header>

        <article class="diversity">
            <h3>Diversity</h3>
            <ul>
                <li><span class="pie">43,57</span>43% girls</li>
                <li><span class="pie">38,62</span>38% low-income</li>
                <li><span class="pie">28,72</span>28% ethnic minorities</li>
            </ul>
        </article>

        <article class="reach">
            <h3>Reach</h3>
            <ul>
                <li>10,000+ students attended</li>
                <li>38 cities nationwide</li>
                <li>78% of US students in service areas</li>
            </ul>
        </article>

        <article class="outcomes">
            <h3>Outcomes</h3>
            <ul>
                <li><span class="pie">80,20</span>80% continue coding</li>
                <li><span class="pie">74,26</span>74% later attend tech events</li>
                <li><span class="pie">47,53</span>47% major in a computer-related field</li>
            </ul>
        </article>
    </section>

    <section class="nation">
        <header>
            <h2>Our impact is nation-wide.</h2>
            <p>72% of US high school students are within 2 hours driving distance of StudentRND programs.</p>
        </header>

        <div class="map"></div>
        <section class="cities">
            <ul>
                <li>Seattle</li>
                <li>Portland</li>
                <li>Corvallis</li>
                <li>San Francisco</li>
                <li>San Jose</li>
                <li>Los Angeles</li>
                <li>Las Vegas</li>
                <li>Salt Lake City</li>
                <li>Phoenix</li>
                <li>Boulder</li>
                <li>Denver</li>
                <li>Loveland</li>
                <li>Austin</li>
                <li>Houston</li>
                <li>Dallas</li>
                <li>Kansas City</li>
                <li>Omaha</li>
                <li>Minneapolis</li>
                <li>Des Moines</li>
                <li>Iowa City</li>
                <li>Chicago</li>
                <li>St. Louis</li>
                <li>Nashville</li>
                <li>Dayton</li>
                <li>Atlanta</li>
                <li>Detroit</li>
                <li>Columbia</li>
                <li>Boston</li>
                <li>New York</li>
                <li>New Jersey</li>
                <li>Pittsburgh</li>
                <li>Philadelphia</li>
                <li>Washington DC</li>
                <li>Orlando</li>
                <li>Miami</li>
                <li>Boca Raton</li>
            </ul>
        </section>
    </section>

    <section class="team">
        <header>
            <h2>We're managed by a world-class team.</h2>
            <p>Our team brings years of experience in education, non-profits, and the tech space.</p>
        </header>

        <section class="key people">
            <ul>
                <li>
                    <section class="picture"><img src="/assets/img/team/tyler.jpg" /></section>
                    <article>
                        <span class="name">Tyler Menezes</span>
                        <span class="title">Executive Director</span>
                        <section class="description">
                            <p>In addition to his experience at the head of a Y Combinator-backed tech startup, Tyler
                                brings several years of experience teaching CS in high schools.</p>
                            <p>Before becoming Executive Director, Tyler worked as the Program Director for StudentRND.
                                For his work with StudentRND, he's been named one of the top 30 under 30 in the Seattle
                                area.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/christy.jpg" /></section>
                    <article>
                        <span class="name">Christy Wilson</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>Christy brings years of non-profit experience from her time as the founder of
                                Splunk4Good, Splunk's charitable arm.</p>
                            <p>While at Splunk, she also served as the VP of Product Operations and Engineering, and is
                                currently the VP of Operations at ContextRelevant.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/charlie.jpg" /></section>
                    <article>
                        <span class="name">Charlie Kindel</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>Charlie is the Director of Product for Amazon Alexa and Echo. He was previously the
                                General Manager of Windows Phone.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/zaq.jpg" /></section>
                    <article>
                        <span class="name">Zaq Wiedmann</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>In addition to working to develop much of the early curriculum and pedagogy of CodeDay,
                                Zaq has been one of the organization's earliest volunteers. He works as an Engineer at
                                Tune.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/bob.jpg" /></section>
                    <article>
                        <span class="name">Bob Crimmins</span>
                        <span class="title">Board of Directors</span>
                        <section class="description">
                            <p>Bob is a seasoned entrepreneur in the Seattle area, an advisor to UP Global/Startup
                               Weekend and a mentor at Techstars with a background in engineering and software
                               development.</p>
                        </section>
                    </article>
                </li>
                <li>
                    <section class="picture"><img src="/assets/img/team/edward.jpg" /></section>
                    <article>
                        <span class="name">Edward Jiang</span>
                        <span class="title">Advisor</span>
                        <section class="description">
                            <p>The original founder of StudentRND, Edward served as its Executive Director until early
                                2014. He's currently a Developer Evangelist at Stormpath, and previously led Business
                                Development for PadMapper.</p>
                        </section>
                    </article>
                </li>
            </ul>
        </section>
    </section>
{% endblock %}
{% block scripts %}
    <script src="/assets/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.pie').sparkline('html', {type: "pie", sliceColors: ['#15E014', '#aaa'], offset: -90});
        });
    </script>

    <script type="text/javascript">
        (function(){
            var previous_width = null;
            var redraw_map = function(){
                var path = d3.geo.path();

                if ($('.map').width() === previous_width) {
                    {# Window width hasn't changed, no need to redraw #}
                    return;
                } else {
                    previous_width = $('body > .hero .map').width();
                }

                var map = $('.map').html('<svg></svg>');
                var width = map.width();
                var height = map.width() * 0.6;

                var projection = d3.geo.albersUsa()
                        .scale((width * 1.2))
                        .translate([width / 2, height / 2]);

                var path = d3.geo.path()
                        .projection(projection);

                var svg = d3.select(".map svg")
                        .attr("width", width)
                        .attr("height", height);

                d3.json("/assets/topo/us.json", function(error, us) {
                    svg.insert("path", ".graticule")
                            .datum(topojson.feature(us, us.objects.land))
                            .attr("class", "land")
                            .attr("d", path);

                    svg.insert("clipPath")
                            .attr("id", "landclip")
                            .append("path", ".graticule")
                            .datum(topojson.feature(us, us.objects.land))
                            .attr("d", path);


                    svg.insert("path", ".graticule")
                            .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
                            .attr("class", "state-boundary")
                            .attr("d", path);

                    var regions = {% include "parts/regions.twig" %};

                    svg.selectAll("circle.footprint")
                            .data(regions)
                            .enter()
                            .append("circle")
                            .attr("cx", function(d) { return projection([d.lng, d.lat])[0]; })
                            .attr("cy", function(d) { return projection([d.lng, d.lat])[1]; })
                            .attr("r", Math.min(49, (width/12.5)))
                            .attr("clip-path", "url(#landclip)")
                            .attr("class", "footprint");

                    svg.selectAll("circle.outline")
                            .data(regions)
                            .enter()
                            .append("circle")
                            .attr("cx", function(d) { return projection([d.lng, d.lat])[0]; })
                            .attr("cy", function(d) { return projection([d.lng, d.lat])[1]; })
                            .attr("r", Math.min(21, (width/10)))
                            .attr("clip-path", "url(#landclip)")
                            .attr("class", "outline");

                    svg.selectAll("circle.city")
                            .data(regions)
                            .enter()
                            .append("circle")
                            .attr("cx", function(d) { return projection([d.lng, d.lat])[0]; })
                            .attr("cy", function(d) { return projection([d.lng, d.lat])[1]; })
                            .attr("r", Math.min(7, (width/100)))
                            .attr("class", "city");
                });

                d3.select(self.frameElement).style("height", height + "px");
            };

            redraw_map();
            $(window).on('resize', redraw_map);
        })();
    </script>
{% endblock %}
