-extends "template.haml"
-block section
  legal
-block page
  bugs
-block title
  Bug Bounty Program
-block body
  .content
    %header
      %h2 Bug Bounty Program
    .bounty
      %p
        Because we appreciate the interest of our community members in the security of our systems, we have created
        a program to allow community members to probe our systems for certain weaknesses, and to receive an award
        for the discovery of those weaknesses.

      %p
        If you comply with the following rules and act in good faith, we will respond as quickly as possible to fix
        vulnerabilities, will keep you updated on the progress, and will not take legal action against you.
      
      %h2 Rules
      %ol 
        %li Don't attempt to access an account you didn't create, or data related to people other than yourself.
        %li Don't perform any attack that could harm the integrity of our data.
        %li
          Don't perform any attack which could interfere with others' use of our systems. Denial-of-Service attacks are
          not allowed.
        %li Never attempt physical attacks.
        %li Don’t publicly disclose a bug before it has been fixed.
        %li
          Only test for vulnerabilities on sites which are directly operated by us. The following sites are a safe bet:
          %ul 
            %li srnd.org
            %li s5.srnd.org
            %li codeday.org
            %li clear.codeday.org
            %li showcase.codeday.org
      
      %p
        We promise not to take any legal action against you only if you abide by the rules of this program,
        including requirements for what data you access and what rewards are available. If you take actions outside
        this program, particularly if in bad faith, we may contact law enforcement.

      %h2 Rewards
      %p
        As a small non-profit, we don't have the ability to award cash grants, but do offer the following:
      %ul 
        %li
          Minor vulnerabilities, including those which could lead to small-scale data corruption, minor financial
          losses, or leaking of non-identifying data: free admission to srnd.org events for 1 year.
        %li
          Major vulnerabilities, including those which could lead to large-scale data corruption, major financial
          losses, or leaking of any customer data or PII: free admission to srnd.org events for life. Plus:
          we'll buy you ice cream at every srnd.org event you attend.
      
      %p
        We have final discretion as to what reward, if any, a disclosure qualifies for. Free admission only applies
        to events you are otherwise eligible to attend, and you may still be removed or banned from participation
        for violations of rules or the code of conduct. Free admission does not include indirect costs, like
        transportation.

      %h2 Excluded Vulnerabilities
      %ul 
        %li Vulnerabilities requiring non-current or unusual versions of web browsers.
        %li Vulnerabilities requiring unlikely user interaction.
        %li Vulnerabilities which only prove the existence of a resource.
        %li Vulnerabilities which reveal information which is already public or which poses no significant risk.
        %li Vulnerabilities which have already been submitted by another user.
        %li Vulnerabilities in services we don't directly operate.
        %li Brute-force attacks.
