{% extends "template.twig" %}
{% block section %}code-of-conduct{% endblock %}
{% block page %}code-of-conduct{% endblock %}
{% block title %}Code of Conduct{% endblock %}
{% block page_tagline %}The Code of Conduct{% endblock %}
{% block content %}
    <section class="code">
        <p>StudentRND strives to make students feel welcome so they can meet new friends, have fun, and build cool things. To create this atmosphere, we need the help of the whole community.</p>

        <h2>At StudentRND events, please be friendly and welcoming.</h2>
        <ul>
            <li><strong>Be humble,</strong> even when you're successful.</li>
            <li><strong>Respect, encourage, and support others.</strong></li>
            <li><strong>Don't use offensive language</strong> referring to people's gender, race, sexual orientation, religion, or disabilities. Don't use sexualized language or imagery.</li>
            <li><strong>Don't &ldquo;hit on&rdquo; other attendees,</strong> even if you think the person is receptive.</li>
        </ul><br />

        <h2>StudentRND members may never harass others.</h2>
        <p>Harassment includes words or behavior which are intended to disparage, demean, mock, or intimidate a person or group. People who participate in harassment are not welcome at StudentRND events, even when this behavior takes place outside the event.</p><br />

        <h2>Keep things safe and legal.</h2>
        <ul>
            <li><strong>Ensure the safety of yourself and others.</strong> Do not carry guns, knives, or other weapons. Deescalate conflicts when possible; get staff help when not.</li>
            <li><strong>Abstain from using or being under the influence</strong> of alcohol, marijuana, illicit substances, and recreational drugs.</li>
        </ul><br />

        <br /><br />

        <h2>Enforcement</h2>
        <p>If you notice something which you think violates this code, please report it, even if it didn't happen to you. Anyone who reports a suspected violation in good faith will receive free admission to a future event.</p>
        <p>All reports will be treated as anonymously as possible, and will initially go directly to global management. You will not experience any retaliation from volunteers, mentors, or staff. To make a report:</p>
        <ul>
            <li>email: conduct@srnd.org</li>
            <li>phone: 888-607-SRND ext 9999</li>
            <li>slack: @tylermenezes</li>
        </ul>

        <p>Community members violating these rules will be sanctioned at the discretion of StudentRND staff, including an expulsion or ban from all StudentRND activities without refund.</p>
        <p><em>(Last updated November 7, 2016.)</em></p>
    </section>
{% endblock %}
