{% extends "template.twig" %}
{% block section %}contact{% endblock %}
{% block page %}contact{% endblock %}
{% block title %}Contact{% endblock %}
{% block page_tagline %}Let's get you in touch with the right people{% endblock %}
{% block content %}
    <section class="contacts">
        <section>
            <h4>Press</h4>
            <p>For press inquiries, please email us or call our 24/7 press hotline:</p>
            <ul>
                <li><a href="mailto:press@studentrnd.org">press@studentrnd.org</a></li>
                <li><a href="tel:+18663822377">(888) 382-2377</a></li>
            </ul>
        </section>

        <section>
            <h4>Sponsors and Partners</h4>
            <p>If you'd like to support the future of tech education, please contact:</p>
            <ul>
                <li><a href="mailto:sponsor@studentrnd.org">sponsor@studentrnd.org</a></li>
                <li><a href="tel:+14257807901p3#">(425) 780-7901 x3</a></li>
            </ul>
        </section>

        <section>
            <h4>CodeDay</h4>
            <p>CodeDay questions are handled by a special team:</p>
            <ul>
                <li><a href="mailto:contact@codeday.org">contact@codeday.org</a></li>
                <li><a href="tel:+18882633230">(888) CODE-230</a></li>
            </ul>
        </section>

        <section>
            <h4>Other Requests</h4>
            <p>Please direct all other requests to our general support:</p>
            <ul>
                <li><a href="mailto:contact@studentrnd.org">contact@studentrnd.org</a></li>
                <li><a href="tel:+18886077763">(888) 607-SRND</a></li>
                <li>
                    <span class="name">StudentRND</span>
                    <span class="address">
                        <span class="street">505 Broadway E</span>
                        <span class="box">Box 141</span>
                        <span class="delivery">Seattle, WA 98102</span>
                    </span>
                </li>
            </ul>
        </section>
    </section>
{% endblock %}
