-extends "template.haml"
-block section
  legal
-block page
  enforcement
-block title
  Code of Conduct Enforcement Policy
-block body
  .content
    %header
      %h2 Code of Conduct Enforcement Policy

    .intro
      %p
        We want all students who participate in our programs to feel safe and welcome. When a community member does
        something which jeopardizes that feeling for others, we take action to prevent further problems.
      %p
        Although we reserve the legal right to refuse admittance and/or remove any individual from any event, this
        policy describes common actions we take, as well as an appeals process.

    .investigation
      %h2 Investigation
      %p
        When we receive a report of concerning behavior, we usually attempt to gather as much information as possible
        by:
        %ul
          %li Interviewing the reporter, possible witnesses, and subjects of the investigation
          %li Reviewing any available surveillance footage, logs, and physical evidence
      %p
        All investigations will be treated as confidentially as possible external to the parties involved in the
        incident and investigation.
      %p
        (When we directly observe concerning behavior, we may not conduct this investigation.)

    .actions
      %h2 Disciplinary Action
      %p When we believe that concerning behavior has occurred, we will take disciplinary action, which may include:
      %ul
        %li Verbal or written warning
        %li Calling a parent or guardian
        %li Removal from a program without a refund
        %li Suspension from participating in future programs for a period of time
        %li Suspension from participating in future programs forever
      %p
        Which actions we take depend on the specific facts and circumstances of the incident. We have higher
        expectations of older students and volunteers, and afford significantly less leniency.

    .review
      %h2 Policy Staff Review
      %p
        Program staff and volunteers provide information on the investigation and disciplinary action to our Policy
        Staff, who review each incident. Policy Staff will notify you of the final disciplinary action by email.

    .appeal
      %h2 Appeal
      %p
        If the disciplinary action is a removal or suspension, you may appeal the decision, in which case our Policy
        Staff will conduct its own, independent investigation and provide a final decision.
      %p
        If an appeal of a removal is successful after a program has ended, we will provide you with a refund or, if a
        refund was already provided, a gift card for a future program of equal value.

    .shared
      %h2 Suspensions
      %p
        We will attempt to block your registrations while suspended on the basis of name and email. If you are able
        to register for a program while suspended, you will be turned away without a refund.
      %p
        We may prevent you from participating in our programs if you are suspended from certain partner programs. You
        may appeal these suspensions directly to Policy Staff as described above.
      %p
        Likewise, we may allow certain partner programs to query our final list of suspensions if you attempt to
        register for their event, however we will not provide any investigation details except at your request.
