{% extends "template.twig" %}
{% block section %}home{% endblock %}
{% block page %}index{% endblock %}
{% block hero %}
    <section class="hero">
        <article>
            <section class="info">
                <span class="lead">Coding shows students they can change the world, but</span>
                <span class="primary">Most students still don't want to learn to code.</span>
                <span class="mission">Since 2009, we've inspired tens of thousands of students to give coding a try,
                                      with a focus on women and minorities. We run programs in 40 cities nationwide.</span>
            </section>
        </article>
    </section>
    <a class="donate" href="/donate">
        We are funded by donations, and spend $36 per participant to bring tech education to your city.
        <span class="link">Please donate now.</span>
    </a>
{% endblock %}
{% block content %}
    <section class="impact">
        <header>
            <h2>CodeDay: Sparking interest in the students who need it.</h2>
            <p>The technology revolution left many groups behind. CodeDay is our proven program for closing that opportunity gap.</p>
        </header>

        <div class="video">
                    <iframe src="//fast.wistia.net/embed/iframe/r4avh9mp2g?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" id="splash-video" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="431" height="248"></iframe>
                    <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
        </div>

        <div class="details">
            <p><span>CodeDay, our primary program, gives students the chance to work on a project which excites
               them individually.</span> Because it works with existing interests, CodeDay attracts students who don't
               normally identify as "coders", and gets them excited about coding.</p>
            <h4>Highly Diverse Attendees</h4>
            <ul class="diversity">
                <li><span class="pie">43,57</span>43% girls</li>
                <li><span class="pie">38,62</span>38% low-income</li>
                <li><span class="pie">28,72</span>28% minorities</li>
            </ul>
            <h4>Strong Long-term Outcomes</h4>
             <ul class="outcomes">
                <li><span class="pie">80,20</span>80% still coding months later</li>
                <li><span class="pie">74,26</span>74% attend other events</li>
            </ul>
        </div>

        <div class="cta">
            <ul>
                <li><a href="https://blog.srnd.org/why-does-codeday-work-2263f43f6f47" target="_blank">Methodology</a></li>
                <li><a href="https://codeday.org/" target="_blank">Learn More</a></li>
                <li><a href="https://codeday.org/volunteer" target="_blank">Volunteer</a></li>
            </ul>
        </div>
    </section>

    <section class="featured">
        <h2>The Story So Far</h2>
        <h3>40+ cities nationwide:</h3>
        <div class="map"></div>
        <h3>You may have heard about us in:</h3>
        <ul>
            <li class="npr"><a href="http://blogs.kqed.org/mindshift/2012/04/watch-out-silicon-valley-here-come-the-tinkering-teens/">NPR</a></li>
            <li class="all-things-considered"><a href="http://www.npr.org/blogs/alltechconsidered/2014/01/25/266162832/computers-are-the-future-but-does-everyone-need-to-code">All Things Considered</a></li>
            <li class="univision"><a href="http://www.kunstv.com/noticias/video/Un-chico-con-buenas-ideas-para-los-demas-jovenes-304649881.html">Univision</a></li>
            <li class="techcrunch"><a href="http://techcrunch.com/2013/01/18/the-weekly-good-the-problems-of-today-will-be-solved-by-the-minds-of-tomorrow/">TechCrunch</a></li>
            <li class="readwrite"><a href="http://readwrite.com/2013/10/18/kids-learn-code-programming">Readwrite</a></li>
            <li class="king5"><a href="http://www.king5.com/news/Students-in-code-heaven-at-Code-Day-193177871.html">King5</a></li>
        </ul>
    </section>


    <section class="quote">
        <blockquote>
            <p>The Salinas Valley is known as the “Salad Bowl Capital of the World” due to its amazing agricultural community. Unfortunately, it is also known as one of the 13 most dangerous cities in California due to the level of gang violence. My goal as an administrator of Migrant Education Region 16 is to expose my students to the vast opportunities that exist outside of our valley.</p>
            <p>CodeDay provided our students with a first stepping-stone into the world of &ldquo;coders&rdquo;. Students entered their first CodeDay with no knowledge of what to expect. They were welcomed with open arms, provided with mentors, taught basic coding skills, and began to see themselves as capable of being part of this &ldquo;world.&rdquo;</p>
            <p>My students are now confident, not just as future &ldquo;coders,&rdquo; but as future participants in the careers that STEM has to offer!</p>
        </blockquote>
        <div class="attr">
            <span class="name">Summer Prather-Smith</span>
            <span class="title">Director of Migrant Education Region XVI</span>
            <span class="org">Monterey County Office of Education</span>
        </div>
    </section>

    <section class="partners">

    </section>
{% endblock %}
