{% extends "template.twig" %}
{% block section %}press{% endblock %}
{% block page %}press{% endblock %}
{% block title %}Press{% endblock %}
{% block hero %}
    <section class="title">
        <article>
            <h2>StudentRND/CodeDay Press Kit</h2>
        </article>
    </section>
{% endblock %}
{% block content %}
    <section class="details">
        <section class="about">
            <h3>What We Do</h3>

            <p>CodeDay is a nationwide event where students design and code games and apps in only 24 hours. Hosted 3
               times a year in up to 38 cities simultaneously, CodeDay sparks an interest in Computer Science by showing
               high school and college students how creative and empowering coding can be.</p>
            <p>Many organizations exist to teach students to code, but StudentRND&thinsp;&mdash;&thinsp;the non-profit
               which runs CodeDay&thinsp;&mdash;&thinsp;designed its flagship program to generate excitement for coding
               in students with no existing interest through an unusually creative and fun event format.</p>
            <p>Students start on Saturday afternoon by pitching their ideas for projects to the entire group. Other
               students choose the ideas they consider the most fun, and these newly-formed teams work for 24-hours to
               bring the ideas to life. In addition to hosting workshops and mentoring students, CodeDay staff also run
               fun activities throughout the night, like karaoke and "no-hands" programming contents. Before the event
               ends on Sunday morning, all students show what they made.</p>
            <h4>Exceptional Results</h4>
            <p>Half of CodeDay attendees have no prior coding experience, but over 80% are still programming three
                months later. Because so many attendees had no prior interest, 40% of students who attend CodeDay are
                female and 28% are African-American or Hispanic&thinsp;&mdash;&thinsp;more than double the industry
                average.</p>
            <p>StudentRND has been improving and expanding CodeDay since 2009. Starting from one event in Seattle,
               CodeDay expanded to cover the West Coast by 2013 and the entire US in 2014. StudentRND now operates
               CodeDay in 38 cities nationwide on three weekends a year: on Veteran's Day weekend in November,
               President's Day weekend in February, and the third weekend in May.</p>
        </section>
    </section>

    <section class="overview">
        <section class="press">
            <h3>Press Contact</h3>
            <p>If you're writing a story about StudentRND or CodeDay, we'd love to provide you with anything you need
                &mdash; whether that's specific information, bespoke images, or interviews.</p>
            <ul>
                <li><a href="mailto:press@studentrnd.org">press@studentrnd.org</a></li>
                <li><a href="tel:+18663822377">(888) 382-2377</a></li>
            </ul>
        </section>
        <section class="at-a-glance">
            <h3>At-a-glance</h3>
            <ul>
                <li>CodeDay is a 24-hour programming event hosted in cities nationwide 3 times a year. StudentRND, a
                    non-profit, runs CodeDay.</li>
                <li>The goal of CodeDay is to spark an interest in programming for high school students.</li>
                <li>CodeDay shows students how fun, creative, and empowering programming is. Students work with friends
                    to build games or apps of their own designs.</li>
            </ul>
        </section>
        <section class="resource-preview">
            <h3>Images</h3>
            <ul class="assets small">
                <li>
                    <a href="/assets/img/press/assets/codeday/02.jpg">
                        <img src="/assets/img/press/assets/codeday/02_preview.jpg" alt="Girl programming at event" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/05.jpg">
                        <img src="/assets/img/press/assets/codeday/05_preview.jpg" alt="Girls coding at CodeDay" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/11.jpg">
                        <img src="/assets/img/press/assets/codeday/11_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/13.jpg">
                        <img src="/assets/img/press/assets/codeday/13_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/10.jpg">
                        <img src="/assets/img/press/assets/codeday/10_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/16.jpg">
                        <img src="/assets/img/press/assets/codeday/16_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
            </ul>
            <div class="more">
                <a href="#resources">See All</a>
            </div>
        </section>
    </section>

    <section class="more">
        <section class="faq">
            <h3>Frequently Asked Questions</h3>
            <ul>
                <li>
                    <span class="q">How are CodeDay and StudentRND related?</span>
                    <div class="a">
                        <p>StudentRND is the non-profit which runs CodeDay. CodeDay is StudentRND's
                            primary program.</p>
                    </div>
                </li>

                <li>
                    <span class="q">What makes CodeDay different?</span>
                    <div class="a">
                        <p>CodeDay is the only program which <em>generates interest in STEM</em>, rather than
                            delivering a full education.</p>
                    </div>
                </li>

                <li>
                    <span class="q">Do you work with other STEM organizations?</span>
                    <div class="a">
                        <p>Because our focus is on generating initial interest, we refer students who attend CodeDay
                            to STEM programs which can provide further education.</p>
                    </div>
                </li>

                <li>
                    <span class="q">Do you work with schools?</span>
                    <div class="a">
                        <p>Hundreds of partner schools and districts either promote CodeDay or bus students directly to
                            it.</p>
                        <p>CodeDay helps these schools generate broader student interest in their existing CS classes.</p>
                    </div>
                </li>

                <li>
                    <span class="q">How are you funded?</span>
                    <div class="a">
                        <p>CodeDay is primarily funded through grants&thinsp;&mdash;&thinsp;currently from Splunk and
                            LexisNexis Risk Solutions&thinsp;&mdash;&thinsp;and individual giving.</p>
                    </div>
                </li>

                <li>
                    <span class="q">Is CodeDay a hackathon?</span>
                    <div class="a">
                        <p>Because CodeDay focuses on new programmers, and does not provide large prizes or recruiting,
                            we do not consider CodeDay a hackathon, even if it meets the technical definition. </p>
                    </div>
                </li>

            </ul>
        </section>

        <section class="resources">
            <h3><a href="#" name="resources"></a>Photos, Videos, and Logos</h3>
            <section class="license">
                <p>You are granted a world-wide, royalty-free, perpetual, and irrevocable license to use
                    these images solely in whole for editorial use by press, bloggers, and/or industry analysts.
                    StudentRND is and shall remain the sole and exclusive owner of these images. All pictured
                    students have waived rights for use of these photos.</p>
            </section>
            <h4>CodeDay Images</h4>
            <ul class="assets small">
                <li>
                    <a href="/assets/img/press/assets/codeday/01.jpg">
                        <img src="/assets/img/press/assets/codeday/01_preview.jpg" alt="Students programming in a pink room" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/02.jpg">
                        <img src="/assets/img/press/assets/codeday/02_preview.jpg" alt="Girl programming at event" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/03.jpg">
                        <img src="/assets/img/press/assets/codeday/03_preview.jpg" alt="Programming event team photo" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/05.jpg">
                        <img src="/assets/img/press/assets/codeday/05_preview.jpg" alt="Girls coding at CodeDay" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/06.jpg">
                        <img src="/assets/img/press/assets/codeday/06_preview.jpg" alt="Programming awards" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/07.jpg">
                        <img src="/assets/img/press/assets/codeday/07_preview.jpg" alt="Student programmers in room" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/08.jpg">
                        <img src="/assets/img/press/assets/codeday/08_preview.jpg" alt="TV crew recording presentation" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/09.jpg">
                        <img src="/assets/img/press/assets/codeday/09_preview.jpg" alt="Student presenting at CodeDay" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/10.jpg">
                        <img src="/assets/img/press/assets/codeday/10_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/11.jpg">
                        <img src="/assets/img/press/assets/codeday/11_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/12.jpg">
                        <img src="/assets/img/press/assets/codeday/12_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/13.jpg">
                        <img src="/assets/img/press/assets/codeday/13_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/14.jpg">
                        <img src="/assets/img/press/assets/codeday/14_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/15.jpg">
                        <img src="/assets/img/press/assets/codeday/15_preview.jpg" alt="StudentRND team pyramid" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/16.jpg">
                        <img src="/assets/img/press/assets/codeday/16_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/17.jpg">
                        <img src="/assets/img/press/assets/codeday/17_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/18.jpg">
                        <img src="/assets/img/press/assets/codeday/18_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/19.jpg">
                        <img src="/assets/img/press/assets/codeday/19_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/20.jpg">
                        <img src="/assets/img/press/assets/codeday/20_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/21.jpg">
                        <img src="/assets/img/press/assets/codeday/21_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/22.jpg">
                        <img src="/assets/img/press/assets/codeday/22_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/23.jpg">
                        <img src="/assets/img/press/assets/codeday/23_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/24.jpg">
                        <img src="/assets/img/press/assets/codeday/24_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
                <li>
                    <a href="/assets/img/press/assets/codeday/25.jpg">
                        <img src="/assets/img/press/assets/codeday/25_preview.jpg" alt="StudentRND Team working" />
                    </a>
                </li>
            </ul>

            <h4>B-Roll</h4>
            <ul class="assets video">
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_1u2edptkug popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Seattle-Checkin-2.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_bzttjzocli popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Seattle-1.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_x54im40n1w popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Seattle-Pitch-1.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_xsner84xof popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Closeup-Planning.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_bmy7ye3vvc popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Closeup-Wireframes.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_t350e0qcmg popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Coding-Screen-2.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_4mn12tgpcf popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Coding-Screen-1.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_kprp9purip popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Closeup-Young-Boys.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_0qt4i9zjrn popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Closeup-Young-Girl.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_77critkmdi popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Dolly-1.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_uoi5kkul3b popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Math.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_qh52wi4aqh popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Twitter-Day.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_5a5nzdmsuv popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Countdown.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_t17xrqpsc1 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Game-Outdoor-1.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_ivdo7xhxfv popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/PingPong.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_dunlqu93qg popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/NoHandsFizzBuzz.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_m21z21xckn popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/Prejudging-1.mp4">Download HD</a>
                </li>
                <li>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_oumxvi3uok popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    <a href="https://s3-us-west-1.amazonaws.com/studentrnd-presskit/LA-End-Goodbye.mp4">Download HD</a>
                </li>
            </ul>

            <h4>Brand</h4>
            <ul class="assets">
                <li>
                    <a href="/assets/img/press/assets/brand/codeday_logo.png">
                        <img src="/assets/img/press/assets/brand/codeday_logo_preview.png" alt="CodeDay Logo" />
                    </a>
                    <ul>
                        <li><a href="/assets/img/press/assets/brand/codeday_logo.ai">AI</a></li>
                        <li><a href="/assets/img/press/assets/brand/codeday_logo.eps">EPS</a></li>
                        <li><a href="/assets/img/press/assets/brand/codeday_logo.jpg">JPG</a></li>
                        <li><a href="/assets/img/press/assets/brand/codeday_logo.png">PNG</a></li>
                        <li><a href="/assets/img/press/assets/brand/codeday_logo_bw.png">PNG (B/W)</a></li>
                    </ul>
                </li>
            </ul>
        </section>

        {% if releases and releases|length > 0 %}
            <section class="releases">
                <h3>Recent News</h3>
                <ul>
                    {% for release in releases %}
                        <li><a href="/press/release/{{ release.id }}">
                                <span class="title">{{ release.created_at.timestamp|date('m/d/y') }}: {{ release.title }}</span>
                                <span class="teaser">{{ release.teaser }}</span>
                            </a></li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </section>
    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
{% endblock %}
