{% extends "template.twig" %}
{% block section %}privacy{% endblock %}
{% block page %}privacy{% endblock %}
{% block title %}Privacy Policy{% endblock %}
{% block page_tagline %}Privacy Policy{% endblock %}
{% block content %}
    <section class="intro">
        <p>When you use StudentRND services, we collect information about you and your use of those services. This
           policy describes how we will use that information. Your privacy matters to us, so please take the time to
           read and understand this policy.</p>
        <p>This policy applies to all of the services provided by StudentRND, including both electronic services (such
           as the StudentRND website) and physical services (such as CodeDay).</p>
        <p>This policy changes from time to time. We will post any changes on this site, and, if the changes are
           significant, we will provide a more prominent notice (such as on the homepage or by email notification).</p>
    </section>
    <section class="what-we-collect">
        <h2>What Information We Collect</h2>
        <p>We collect two types of information:</p>
        <ul>
            <li>
                <p><strong>Information you give us.</strong> Many of our services require you to provide information,
                   such as a name, email, address, or billing information. Additionally, some services require you to
                   sign up for or log in with a StudentRND account, which requires similar information.</p>
            </li>
            <li>
                <p><strong>Information we get when you use our services.</strong> We collect information when you use
                   our services, such as when you visit the StudentRND website, or when you attend a CodeDay. This
                   information includes:</p>
                <ul>
                    <li>
                        <h4>Device Information</h4>
                        <p>When you visit one of StudentRND's electronic services, we collect information which can be
                           used to uniquely identify your device (such as hardware versions, operating system version,
                           or information your device manufacturer provides such as unique IDs or mobile phone
                           numbers.) We also associate this information with your account.</p>
                    </li>
                    <li>
                        <h4>Log Information</h4>
                        <p>When you use our electronic or physical services, we automatically collect certain
                           information and store it as logs. This includes details of how you used the service (such
                           as how many tickets you bought for CodeDay), timestamps of when your use occured, and
                           device information.</p>
                    </li>
                    <li>
                        <h4>Location Information</h4>
                        <p>When you use our electronic or physical services, we collect information about your physical
                           location. When using our electronic services, we use various technologies to collect this
                           information, such as IP address and GPS or other sensors.</p>
                    </li>
                    <li>
                        <h4>Local Storage</h4>
                        <p>When using our electronic services, we and our partners collect and store information
                           (including personal information and unique identifiers) locally on your device using
                           technologies like Cookies and HTML Local Storage. This information may be sent to our
                           servers.</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="how-we-use">
        <h2>How We Use Your Information</h2>
        <p>We use the information we collect to provide, maintain, protect, and improve our services, to develop new
           ones, and to protect ourselves and our users. We may combine information from one of our services with
           information from other services, or with information from our partners.</p>
        <p>We also use the information we collect to let you know about new or updated services. StudentRND is a
           non-profit which is funded by contributions from the public, so we may also use this information to contact
           you, your friends, or your family members about donation and volunteer opportunities.</p>
        <p>We may collect and store this information in a country outside the one where you live.</p>
        <p>We will ask your permission before using this information for a purpose other than what we've described
           here.</p>
    </section>
    <section class="what-we-share">
        <h2>What Information We Share</h2>
        <p>We provide some information to trusted partners to process it for us in compliance with appropriate security
           and confidentiality measures. For example, we provide your payment information to Stripe, which processes
           credit card transactions for us.</p>
        <p>We may share aggregated, non-personally-identifying information with our partners or publicly, such as to
           show trends.</p>
        <p>Limited information, such as your name, email, and the information we get when you use our services, may
            be shared with partners who are interested in recruiting you for a job, internship, or college, or with
            partners who provide services of interest to developers. We believe these sort of partnerships provide
            us both with benefits, but you can opt out of this sort of sharing by sending us an email.</p>
        <p>We will provide information agencies, organizations if we have a good-faith belief that doing so is necessary
            to:</p>
        <ul>
            <li>Meet an applicable law, regulation, legal process or enforceable governmental request</li>
            <li>Detect, prevent, or otherwise address fraud, security or technical issues.</li>
            <li>Protect against harm to the rights, property or safety of us, our users, our partners, or the public.</li>
        </ul>
    </section>
    <section class="information-security">
        <h2>Information Security</h2>
        <p>We use industry-standard measures to protect our data from unauthorized alteration or disclosure.
           In particular:</p>
        <ul>
            <li>We encrypt many of our services using HTTPS/TLS</li>
            <li>We review our information collection, storage and processing practices, including physical security
                measures, to guard against unauthorized access to systems.</li>
            <li>We restrict access to personal information to employees, contractors, and agents who need to know that
                information in order to provide, maintain, protect, or improve our services.</li>
        </ul>
    </section>
{% endblock %}
