-extends "template.haml"
-block section
  legal
-block page
  privacy
-block title
  Privacy Policy
-block body
  .content
    %header
      %h2 Privacy Policy

    %div(class="intro") 
      %p
        When you use srnd.org services, we collect information about you and your use of those services. This
        policy describes how we will use that information. Your privacy matters to us, so please take the time to
        read and understand this policy.
      %p
        This policy applies to all of the services provided by srnd.org, including both electronic services (such
        as the srnd.org website) and physical services (such as CodeDay).
      %p
        This policy changes from time to time. We will post any changes on this site, and, if the changes are
        significant, we will provide a more prominent notice (such as on the homepage or by email notification).
    
    %div(class="what-we-collect") 
      %h2 What Information We Collect
      %p We collect several types of information:
      %ul 
        %li 
          %p
            %strong Information you give us.
            Many of our services require you to provide information,
            such as a name, email, address, or billing information. Additionally, some services require you to
            sign up for or log in with a srnd.org account, which requires similar information.

        %li
          %p
            %strong Public information.
            For example, we collect information on your contributions to open-source software.
        
        %li 
          %p
            %strong Information we get when you use our services.
            This information includes:
          %ul 
            %li 
              %p
                %em Device information.
                When you use one of srnd.org's electronic services, we collect information which can be
                used to uniquely identify your device.
            
            %li 
              %p
                %em Location information.
                When you use our electronic or physical services, we collect information about your physical
                location. We request explicit permission before collecting location data more precise than your city.
            
            %li 
              %p
                %em Log information.
                When you use our electronic or physical services, we automatically collect certain
                information and store it as logs. This includes details of how you used the service (such
                as how many tickets you bought for CodeDay).
        
      
    
    %div(class="how-we-use") 
      %h2 How We Use Your Information
      %p We use your information internally for the following purposes:
      %ul
        %li
          %p
            %strong To provide services.
            We use the information we collect to continue to provide existing services, to improve them, and to
            develop new ones.

        %li
          %p
            %strong For safety and security.
            We use the information we collect to protect ourselves and our users. For example, we maintain a list of
            people who are no longer allowed to attend our events for security reasons.

        %li
          %p
            %strong To keep you updated.
            We use information we collect to provide updates on existing and new services, and to occasionally let you
            know about donation or volunteer opportunities.
      
      %p
        We may collect and store this information in a country outside the one where you live.
    
    %div(class="what-we-share") 
      %h2 When We Share Information
      %p We provide information to third-parties for the following purposes:
      %ul
        %li
          %p
            %strong To process it.
            We provide some information to trusted partners to process it for us in compliance with appropriate
            security and confidentiality measures. For example, we provide your payment information to our payment
            processing provider.

        %li
          %p
            %strong To measure and demonstrate results.
            We share aggregated, non-personally-identifying information with our partners or publicly to show the
            effects of our programs. In some cases, we may also share individual-level information with partners who
            have agreed not to disclose this information.

        %li
          %p
            %strong To match you with internships.
            We provide limited information to trusted partners who provide Computer Science-related internships. This
            information is limited to your name, email, and public information.

        %li
          %p
            %strong When you choose to share it.
            When using our services, you have the option of sharing some information publicly, such as sharing a
            project you create at CodeDay.

        %li
          %p
            %strong For safety and security.
            We provide information to third-parties if we have a good-faith belief that doing so is necessary to:
            %ul 
              %li Meet an applicable law, regulation, legal process or enforceable governmental request
              %li Detect, prevent, or otherwise address fraud, security or technical issues.
              %li Protect against harm to property or safety.
      
    
    %div(class="information-security") 
      %h2 Information Security
      %p
        We use industry-standard measures to protect our data from unauthorized alteration or disclosure.
        In particular:
      %ul 
        %li We encrypt many of our services using HTTPS/TLS.
        %li We store passwords and other sensitive data using industry-standard cryptography.
        %li
          We restrict access to personal information to employees, contractors, and volunteers who have a need to know
          it.
        %li We review security and processing practices of third-parties with whom we share information.
        %li
          We review our information collection, storage and processing practices, including physical security
          measures, to guard against unauthorized access to systems.
