-extends "template.haml"
-block section
  legal
-block page
  returns
-block title
  Return Policy
-block body
  .content
    %header
      %h2 Return Policy
    %div(class="intro") 
      %p
        We believe in providing the best experience to the community possible in everything we do. As a result, we
        stand behind our products and services 100%. We've created this return policy to enable as many returns as
        possible while preventing abuse.
      %p
        To request a return under this policy, contact
        %a(href="mailto:support@studentrnd.org") support@studentrnd.org
    
    %div(class="registration") 
      %h2 Tickets and Registration Fees
      %h3 Full Refunds
      %p
        If you purchased tickets to an event and are no longer able to attend, you are entitled to a refund any time
        prior to 7 days before the start of the event.
      %p
        Please note that, because ticket costs cover food and other event supplies, we cannot process refunds
        within 7 days of the event
      %p
        If your refund is accepted, your ticket will be cancelled, and you will no longer be able to attend the
        event.

      %h3 Partial Refunds
      %p
        If you purchase a ticket and later find a discount code which would have resulted in a lower price, we will
        refund the difference if requested <strong>no later than one week after the end of the event.</strong>
    
    %div(class="donations") 
      %h2 Donations
      %p
        As a general principle, donations are presumed by law to be irrevocable gifts unless otherwise specified in
        an agreement or contract. This is an important legal concept that, among other things, permits gifts to be
        tax-deductible.
      %p
        That said, if a donation was made in error (such as a typo, double-charge, or a forgotten subscription) we
        can refund the incorrect charge <strong>within 60 days of the donation.</strong>
    
    %div(class="physical") 
      %h2 Physical Products
      %p
        Products purchased in-person or from our online-store are eligible for return up to 60 days after
        it is shipped. Products need not be like-new, but must not have damage caused by improper use or
        accidents.
      %p
        When you request a return, we will require that you ship your product back to us. You will be responsible for
        paying return shipping costs, except in the case of a defect, in which case we will send you a shipping
        label.
      %p
        If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing
        shipping insurance. We don’t guarantee that we will receive your returned item.
      %p
        Once your return is received and inspected we will send you an email to notify you that we have received your
        returned item. We will also notify you of the approval or rejection of your refund. If you are approved,
        then your refund will be processed, and a credit will automatically be applied to your credit card or
        original method of payment. This credit may take up to 30 days to appear on your statement.
      %p
        Except in the case of a defect, original shipping costs are non-refundable. If you receive a refund, the
        original cost of shipping will not be included in the refund amount.
