{% extends "template.twig" %}
{% block section %}legal{% endblock %}
{% block page %}trademarks{% endblock %}
{% block title %}Trademarks{% endblock %}
{% block page_tagline %}Trademarks{% endblock %}
{% block content %}
    <section class="intro">
        <p>This page contains a list of some of the trademarks owned by StudentRND. The absence of a trademark here does not
           mean we have waived our rights in that trademark. We recommend you also search for the owner "StudentRND" on
           <a href="http://tess2.uspto.gov/" target="_blank">TESS.</a></p>
        <p>You may only use our trademarks with our permission, including any authorizations listed online (such as on
           the press page), or as otherwise permitted by law.</p>
    </section>
    <section class="list">
        <table>
            <thead>
                <tr>
                    <th>Trademark</th>
                    <th>Status</th>
                    <th>Serial</th>
                    <th>Goods and Services</th>
                    <th>Suggested Generic Terms</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>StudentRND</td>
                    <td>&#xae;</td>
                    <td><a href="http://tsdr.uspto.gov/#caseNumber=87074198&caseType=SERIAL_NO&searchType=statusSearch" target="_blank">87074198</a></td>
                    <td>
                        <ul>
                            <li>Arranging and conducting special events for social entertainment purposes (IC 041)</li>
                            <li>Education services, namely, providing classes, workshops, conferences, and mentoring in the field of computer science (IC 041)</li>
                            <li>Education services, namely, training educators in the field of computer science and providing curricula in connection therewith. (IC 041)</li>
                        </ul>
                    </td>
                    <td>Education non-profit, STEM education group</td>
                </tr>
                <tr>
                    <td>CodeDay</td>
                    <td>&#xae;</td>
                    <td><a href="http://tsdr.uspto.gov/#caseNumber=86910841&caseType=SERIAL_NO&searchType=statusSearch" target="_blank">86910841</a></td>
                    <td>
                        <ul>
                            <li>Arranging and conducting special events for social entertainment purposes (IC 041)</li>
                            <li>Education services, namely, providing classes, workshops, and mentoring in the field of computer science. (IC 041)</li>
                        </ul>
                    </td>
                    <td>Coding marathon, day of code, coding day, hackathon-style event</td>
                </tr>
                <tr>
                    <td>Code Evangelist</td>
                    <td>&#xae;</td>
                    <td><a href="http://tsdr.uspto.gov/#caseNumber=87120624&caseType=SERIAL_NO&searchType=statusSearch" target="_blank">87120624</a></td>
                    <td>
                        <ul>
                            <li>Education services, namely, providing classes, workshops, conferences, and mentoring in the field of computer science. (IC 041)</li>
                            <li>Education services, namely, training educators in the field of computer science and providing curricula in connection therewith. (IC 041)</li>
                        </ul>
                    </td>
                    <td>Developer evangelist, technology evangelist</td>
                </tr>
                <tr>
                    <td><img src="/assets/img/press/assets/brand/codeday_logo.png" /></td>
                    <td>&#xae;</td>
                    <td><a href="http://tsdr.uspto.gov/#caseNumber=87074153&caseType=SERIAL_NO&searchType=statusSearch" target="_blank">87074153</a></td>
                    <td>
                        <ul>
                            <li>Arranging and conducting special events for social entertainment purposes (IC 041)</li>
                            <li>Education services, namely, providing classes, workshops, and mentoring in the field of computer science. (IC 041)</li>
                        </ul>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img src="/assets/img/logo_medium.png" /></td>
                    <td>&trade;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="notes">
        <p><sup>*</sup> Trademark registration pending.</p>
    </section>
{% endblock %}
