-extends "template.haml"
-block section
  legal
-block page
  trademarks
-block title
  Trademarks
-block body
  .content
    %header
      %h2 Trademarks
      %p
        This page contains a list of some of the trademarks owned by srnd.org. The absence of a trademark here does not
        mean we have waived our rights in that trademark. We recommend you also search for the owner "srnd.org" on
        %a(href="http://tess2.uspto.gov/" target="_blank") TESS.
      %p
        You may only use our trademarks with our permission, including any authorizations listed online (such as on
        the press page), or as otherwise permitted by law.
    .list 
      %table 
        %thead 
          %tr 
            %th Trademark
            %th Status
            %th Serial
            %th Goods and Services
            %th Suggested Generic Terms
          
        
        %tbody 
          %tr 
            %td CodeDay
            %td &#xae;
            %td <a href="http://tsdr.uspto.gov/#caseNumber=86910841&caseType=SERIAL_NO&searchType=statusSearch" target="_blank">86910841</a>
            %td 
              %ul 
                %li Arranging and conducting special events for social entertainment purposes (IC 041)
                %li Education services, namely, providing classes, workshops, and mentoring in the field of computer science. (IC 041)
              
            
            %td Coding marathon, day of code, coding day, hackathon-style event
          
          %tr 
            %td Code Evangelist
            %td &#xae;
            %td <a href="http://tsdr.uspto.gov/#caseNumber=87120624&caseType=SERIAL_NO&searchType=statusSearch" target="_blank">87120624</a>
            %td 
              %ul 
                %li Education services, namely, providing classes, workshops, conferences, and mentoring in the field of computer science. (IC 041)
                %li Education services, namely, training educators in the field of computer science and providing curricula in connection therewith. (IC 041)
              
            
            %td Developer evangelist, technology evangelist
          
          %tr 
            %td <img src="/assets/img/press/assets/brand/codeday_logo.png" />
            %td &#xae;
            %td <a href="http://tsdr.uspto.gov/#caseNumber=87074153&caseType=SERIAL_NO&searchType=statusSearch" target="_blank">87074153</a>
            %td 
              %ul 
                %li Arranging and conducting special events for social entertainment purposes (IC 041)
                %li Education services, namely, providing classes, workshops, and mentoring in the field of computer science. (IC 041)
            %td &nbsp;
    .notes 
      %p <sup>*</sup>Trademark registration pending.
